
@{
    Layout = "~/Views/Shared/_ActualUserLayout.cshtml";
}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('../Assests/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">About Us</h1>
                <div class="custom-breadcrumbs">
                    <a  asp-action="Home" asp-controller="ActualUser">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>About Us</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="site-section pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
             

                    <img src="~/Assests/images/sq_img_6.jpg" alt="Image" class="img-fluid img-shadow">
                </a>
            </div>
            <div class="col-lg-5 ml-auto">
                <h2 class="section-title mb-3"> JobBoard For Workers</h2>
                <p class="lead">
                    JobBoard website is to provide job seekers with access to a wide range of job opportunities and resources to help them succeed in their job search.
                    <br /> <br />  These website aim to make the recruitment process easier and more efficient by providing employers with a platform to post job openings and job seekers with a platform to search and apply for jobs. The mission of job board website is to help job seekers find meaningful employment and help employers find qualified candidates to fill their job openings.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="site-section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0 order-md-2">


                    <img src="~/Assests/images/sq_img_8.jpg" alt="Image" class="img-fluid img-shadow">
                </a>
            </div>
            <div class="col-lg-5 mr-auto order-md-1  mb-5 mb-lg-0">
                <h2 class="section-title mb-3">JobBoard For Freelancers, Web Developers</h2>
                <p class="lead">
                    JobBoard for freelancers and web developers,
                    When you work in your field with love, creativity will become the same when you create creativity in web development and start making your own websites, and when you get experience, you will become a full stack developer.
                </p>
            </div>
        </div>
    </div>
</section>


