@model IEnumerable<TestmonialViewJoin>;
@{
    Layout = "~/Views/Shared/_ActualUserLayout.cshtml";

}


<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('../Assests/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Candidate's Testimonials</h1>
                <div class="custom-breadcrumbs">
                    <a asp-action="Home" asp-controller="ActualUser">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Testimonials</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        @*<div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Contact Form #02</h2>
        </div>
        </div>*@
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Write For Us</h3>

                                <form method="POST" id="contactForm" asp-action="Testmonial" asp-controller="ActualUser" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="#">Message</label>
                                                    <textarea name="message" class="form-control" name="Message" id="message" style="width:150%" cols="30" rows="4" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" asp-action="Testmonial" value="Send Message" class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
</section>


<section class="site-section" id="next-section">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 mb-4">
                    <div class="block__87154">
                        <blockquote>
                            <p>@item.Test.Message</p>
                        </blockquote>
                        <div class="block__91147 d-flex align-items-center">
                            <figure class="mr-4"><img src="~/PersonalImages/@item.Account.Imagepath" alt="Image" class="img-fluid"></figure>
                            <div>
                                <h3>@item.Account.Fullname</h3>
                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</section>
