@model JobOffer.Models.Testmonialh

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardAdminLayout.cshtml";
}



<div class="page-header" style="margin-left:250px;margin-top:30px">
<div class="page-block">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="page-header-title">
                    <h5 class="m-b-10" style="font-size:20px;font-weight:bold; color:#89ba16">Create  Testmonial</h5>
            </div>
            <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Manage  Testmonials</a></li>
                <li class="breadcrumb-item"><a href="#!">Create New</a></li>
            </ul>
        </div>
    </div>
</div>
</div>




<div style="margin-left:700px">
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTestmonial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="ViewBag.Status" class="form-control" ></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <select asp-for="Userid" class ="form-control" asp-items="ViewBag.Userid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |

                    <a asp-action="MainTestmonials">Back to List</a>

            </div>
        </form>
    </div>
</div>


</div>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h1>h</h1>